@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

h1 {
    font-family: 'Montserrat'
    font-size: 600;
}
 p {
    font-family: 'Montserrat'
    font-size: 300;
}

#nombre, #frase {
    color: rgb(65, 66, 66);
}

.texto-principal {
    font-size: 2rem;
}

.encabezado{
    margin: 3rem;
}
